.swiper{
  width:100%
}

.swiper-wrapper{
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
}

.cardo{
  width: 20em;
  height: 90%;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0,0,0,.2);
  padding: 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active){
  filter:blur(1px);

}

.card_image{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid #f00;
  padding: 3px;
  margin-bottom: 2em;
}

.card_image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card_content{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card_title{
  font-size: 1.5em;
  font-weight: 500;
  position: relative;
  top: .2em;
}

.card_name{
  color: #f00;
}

.card_text{
  text-align: center;
  font-size: 1.1em;
  margin: 1em 0;
}

